  <!-- NAVBAR -->
<nav class="navbar navbar-custom " role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand recipeep" href="/">ReciPeep</a>
	</div>
	<div id="nav-search">
		<input enter="searchRecipes(recipe)" ng-model="recipe" placeholder="Search recipes..." class="search-box2 box form-control glow"></input>
		<a href="/recipes" ng-click="searchRecipes(recipe)" class="btn btn-default search-btn2 glyphicon glyphicon-search"></a>
	</div>
	<div class="navbar-right nav-margin">
		<a class="recipeep" href="">Login</a>
		<p style="display:inline;" class="recipeep">|</p>
		<a class="recipeep" href="">Sign Up</a>
	</div>
</nav>

<!-- Description Text -->
	<div class="recipe-descript">
		<h1>Search results for <span style="color:#F7E7CE;font-weight:bold;">{{yummly.recipe}}</span>.</h1>
		<p ng-bind-html="yummly.searchData.attribution.html"></p>
	</div>

	</div>

	<!-- Recipe-Card Columns -->
	<div class="container-fluid card-list">
		<div id="columns">
			<div ng-repeat="recipe in yummly.searchData.matches" class="recipe-card glow" ng-init='getRecipe(recipe.id)'>
			<!-- Card-Inner -->
				<div class="card-inner">
				<p class="recipe-name">{{yummly.getData[$index].name}}</p>

				<p><span style="font-style:italic">Cook Time:</span> {{yummly.getData[$index].totalTime}}</p>

				<a target="_blank" href="{{yummly.getData[$index].source.sourceRecipeUrl}}" class="btn btn-default recipe-detail-btn float-shadow">Instructions & Nutrition</a>

				<p><span style="font-style:italic">Ingredients:</span> {{yummly.getData[$index].ingredientLines.length}}</p>

				<img ng-src="{{yummly.getData[$index].images.0.hostedLargeUrl}}">

				<a target="_blank" class="source-link" href="{{yummly.getData[$index].source.sourceRecipeUrl}}"><br>{{yummly.getData[$index].source.sourceDisplayName}}<span style="margin-left:6px;color:#FF7F50;">{{recipe.rating}}/5</span><i ng-hide="!(yummly.meal.indexOf(yummly.getData[$index]) > -1)" class="recipe-checked glyphicon glyphicon-ok"></i></a>

				<a href="/recipes" ng-click="addRecipe(yummly.getData[$index])" class="btn btn-default recipe-add-btn float-shadow">Add to Meal</a>
				</div>
			<!-- end Card-Inner -->
			</div>
		</div>
	</div>

<!-- Meal Bar -->
<!-- 	<div ng-click="toggleBar()" class="hide-meal">
	<i class="hide-bar glyphicon glyphicon-chevron-left"></i>
	</div> -->
	<div class="meal-bar">
		<h3 class="current-meal">Current Meal</h3>
		<ul class="meal-bar-inner">
			<li class="added-list" ng-repeat="recipe in yummly.meal" >
				<i class="recipe-rm glyphicon glyphicon-remove" ng-click="removeRecipe(recipe)"></i>
				<a target="_blank" href="{{recipe.source.sourceRecipeUrl}}" class="added-recipe">{{recipe.name}}</a>
			</li>
		</ul>
		<p style="text-align:center">Click to continue.</p>
		<p ng-click="toMeal()" class="btn btn-default cook-meal-btn float-shadow">Cook Meal</p>
	</div>
