

<div>
<!-- Description Text -->
	<div class="recipe-descript">
	<h1>Search results for <span style="color:#F7E7CE;font-weight:bold;">{{yummly.recipe}}</span>.</h1>
	<p ng-bind-html="yummly.searchData.attribution.html"></p>	
	</div>

<!-- Meal Bucket -->
	<div class="meal-bar">
		<p>Current Meal</p>
		<p>selected item</p>

	</div>

	<!-- LIST OF SEARCH RESULTS -->
	<div class="container-fluid">
	<ul>
		<li class="card-list" ng-repeat="recipe in yummly.searchData.matches">
			<div class="recipe-card">
				<div class="card-inner">
				<p class="recipe-name" ng-init='getRecipe(recipe.id)'>{{yummly.getData[$index].name}}</p>
				
				<!-- Button+picture+source link -->
				<p><span style="font-style:italic">Cook Time:</span> {{yummly.getData[$index].totalTime}}</p>

				<a target="_blank" href="{{yummly.getData[$index].source.sourceRecipeUrl}}" class="btn btn-default recipe-detail-btn">Instructions & Nutrition</a>

				<p><span style="font-style:italic">Ingredients:</span> {{yummly.getData[$index].ingredientLines.length}}</p>

				<img ng-src="{{yummly.getData[$index].images.0.hostedLargeUrl}}">

				<a target="_blank" class="source-link" href="{{yummly.getData[$index].source.sourceRecipeUrl}}"><br>{{yummly.getData[$index].source.sourceDisplayName}}<span style="float:right;font-weight:bold;color:#FF7F50;">{{recipe.rating}}/5</span></a>

				<a href="/recipes" ng-click="searchRecipes(recipe)" class="btn btn-default recipe-add-btn">Add to Meal</a>
				</div>
			</div>
		</li>
	</ul>
	</div>


<!-- 	 Instruction/Cook Time POP-UP 
	<div class="display-detail animated fadeIn" ng-hide="yummly.details.show==0">
		<a ng-click="hideDetails()" class="close-btn">
	  	<span class="glyphicon glyphicon-remove"></span>
		</a>
		<h1>{{yummly.details.recipe.name}}</h1>
		<img ng-src="{{yummly.details.recipe.images.0.hostedLargeUrl}}">
		<p>Cook Time: {{yummly.details.recipe.totalTime}}</p>
		<li ng-repeat="ingredient in yummly.details.recipe.ingredientLines">ingredient</li>
		<p>View cooking instructions at:</p>
		<a class="source-link" href="{{yummly.details.recipe.source.sourceRecipeUrl}}">{{yummly.details.recipe.source.sourceDisplayName}}
	</div> -->

	
</div>
