/* COLOR SCHEME: http://www.liliesandlilacs.com/trends.html 
#e2af38 = butterscotch
#F7E7CE = champagne
#66CCCC = seafoam green
#FF7F50 = coral
*/

@font-face{
  font-family: 'Junction';
  src: url('junction.otf') format('opentype');
}
html {
  background-color: #66CCCC;
}
body {
  background-color: #66CCCC;
  padding-top:30px;
  font-family: 'Junction'; 
}
.navbar-custom {
  background-color: #F7E7CE;
}
.recipeep {
  color: #FF7F50;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
/*
.content: buttons and images
*/
.content {
  text-align: center;
  font-size: xx-large;
  margin-top: 50px;
}
.content-btns { 
  font-weight: bold;
  z-index: 5;
  width:50%;
  opacity: .6;
  color: #F7E7CE;
  padding-top: 10px;
  background-color: #FF7F50;
  -webkit-transition: all 0.9s ease-out;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: all 0.9s ease-out;  /* Firefox 4-15 */
     -o-transition: all 0.9s ease-out;  /* Opera 10.50–12.00 */
        transition: all 0.9s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.content-btns:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 0.9s ease-out;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: all 0.9s ease-out;  /* Firefox 4-15 */
    -o-transition: all 0.9s ease-out;  /* Opera 10.50–12.00 */
      transition: all 0.9s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */  
}
.content-btns[ng-value='on'] {
  opacity: 1;
}
.cook-btn {
  float:right;
}
.share-btn {
  float:left;
}
label {
  cursor: pointer;
}
.content img {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}
/* end of buttons and images */
/*
.content: overlaying text and buttons
*/
textarea {
  resize: none;
}
.box {
  font-size: large;
  color: #F7E7CE;  
  padding-top: 10px;
  opacity: .7;
  margin-top: 250px;
  background-color: black;
  padding-left: 5px;
  position: absolute;
  width: 400px;
  left: 40%;
}
.txt-box {
  height: 130px;
}
.search-box {
  height: 45px;
}
.share-txt{
  position: absolute;
  margin-top: 600px;
  right: 7%;
  color: #999999;
  background-color: #F7E7CE;
  opacity: .8;
}
.cook-txt {
  font-style: italic;
  text-align: left;
  position: absolute;
  margin-top: 500px;
  left: 7%;
  color: #F7E7CE;
  background-color:rgba(0, 0, 0, 0.2);
  width: 830px;
}
.custom-btn {
  position: absolute;
  margin-top: 380px;
  left: 40%;
}
.search-btn {
  position: absolute;
  margin-top: 295px;
  left: 40%;
}
.btn {
  color: #F7E7CE;
  background-color: #FF7F50;
  border-color: #F7E7CE;
}
/* end of overlaying content */
.bounceInRight,
.bounceInUp,
.bounceInLeft {
  -webkit-animation-duration: 1.5s;  /* Chrome 1-25, Safari 3.2+ */
   -moz-animation-duration: 1.5s;  /* Firefox 4-15 */
    -o-animation-duration: 1.5s;  /* Opera 10.50–12.00 */
      animation-duration: 1.5s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */  
}
.bounceInRight,
.bounceInLeft {
  -webkit-animation-delay: .3s;  /* Chrome 1-25, Safari 3.2+ */
   -moz-animation-delay: .3s;  /* Firefox 4-15 */
    -o-animation-delay: .3s;  /* Opera 10.30–12.00 */
      animation-delay: .3s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */    
}