/* COLOR SCHEME: http://www.liliesandlilacs.com/trends.html 
#e2af38 = butterscotch
#F7E7CE = champagne
#66CCCC = seafoam green
#FF7F50 = coral
*/

@font-face{
  font-family: 'Junction';
  src: url('Junction.otf') format('opentype');
}
html {
  background-color: #66CCCC;
}
body {
  background-color: #66CCCC;
  font-family: 'Junction'; 
  overflow-x: hidden; 
}
input {
  border: none;
}
.navbar-custom {
  background-color: #F7E7CE;
}
.nav-margin {
  margin-top: .5%;
  margin-right: 2%;
  white-space: nowrap;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-header {
  display: inline-block;
  float: left;
}
.recipeep {
  text-align: center;
  font-size: 1.3em;
  margin-left: .5%;
  margin-right: 2%;
  color: #FF7F50;
}
/*
.content: buttons and images
*/
.content {
  text-align: center;
  font-size: xx-large;
  margin-top: 50px;
}
.content-btns { 
  font-weight: bold;
  z-index: 5;
  width:50%;
  opacity: .6;
  color: #F7E7CE;
  padding-top: 10px;
  background-color: #FF7F50;
  -webkit-transition: all 0.9s ease-out;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: all 0.9s ease-out;  /* Firefox 4-15 */
     -o-transition: all 0.9s ease-out;  /* Opera 10.50–12.00 */
        transition: all 0.9s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.content-btns:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 0.9s ease-out;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: all 0.9s ease-out;  /* Firefox 4-15 */
    -o-transition: all 0.9s ease-out;  /* Opera 10.50–12.00 */
      transition: all 0.9s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */  
}
.content-btns[ng-value='on'] {
  opacity: 1;
}
.cook-btn {
  float:right;
}
.share-btn {
  float:left;
}
label {
  cursor: pointer;
}
.content img {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}
/* end of buttons and images */
/*
.content: overlaying text and buttons
*/
textarea {
  resize: none;
}
.box {
  font-size: medium;
  color: #F7E7CE;  
  padding-top: 10px;
  opacity: .85;
  background-color: black;
  padding-left: 5px;
  padding-right: 42px;
  position: absolute;
  width: 200px;
}
.txt-box {
  height: 130px;
  left: 40%;
  margin-top: 150px;
}
.search-box {
  height: 45px;
  left: 40%;
  margin-top: 150px;
}
.search-box2 {
  margin-top: 8px;
}
.floating-txt {
  font-style: italic;
  text-align: center;
  position: absolute;
  margin-left: 31%;
  margin-top: 400px;
  color: #F7E7CE;
  background-color:rgba(0, 0, 0, 0.5);
  width: 700px;
}
.cook-btn-grp {
  position: absolute;
  margin-top: 280px;
  left: 40%;
}
.search-btn {
  position: absolute;
  margin-top: 195px;
  left: 43%;
}
.search-btn2 {
  position: absolute;
  margin-top: 11px;
  margin-left: 159px;
  border: none;
}
.search-grp {
  margin-top: 3%;
}
.btn {
  color: #F7E7CE;
  background-color: #FF7F50;
  border-color: #F7E7CE;
}
.recipe-detail-btn {
  float: right;
}
.recipe-add-btn {
  margin-bottom: 4px;
  float: right;
}
.close-btn {
  float: right;
  margin-right: 4px;
  margin-top: 4px;
}
/* end of overlaying content */
.bounceInRight,
.bounceInUp,
.bounceInLeft {
  -webkit-animation-duration: 1.5s;  /* Chrome 1-25, Safari 3.2+ */
   -moz-animation-duration: 1.5s;  /* Firefox 4-15 */
    -o-animation-duration: 1.5s;  /* Opera 10.50–12.00 */
      animation-duration: 1.5s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */  
}
.bounceInRight,
.bounceInLeft {
  -webkit-animation-delay: .3s;  /* Chrome 1-25, Safari 3.2+ */
   -moz-animation-delay: .3s;  /* Firefox 4-15 */
    -o-animation-delay: .3s;  /* Opera 10.30–12.00 */
      animation-delay: .3s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */    
}


/*RECIPE PAGE*/
.recipe-card{
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 10px;
  border-style: outset;
  border-width: 4px;
    -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;

}
.recipe-card img{
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 4px;
}
.card-inner{
  padding: 4px;
}
li {
  list-style-type: none;
}
.recipe-name {
  width: 320px;
  background-color:rgba(0,0,0,0);
  font-size: 120%;
}
.recipe-descript {
  float: left;
  padding-left: 30px;
}
.meal-bar {
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 90%;
  width: 10%;
  color: #F7E7CE;
  position: fixed;
  border-radius: 4px;
}
.meal-bar-inner {
  padding-left: 4px;
}
.current-meal{
  border-bottom: 4px solid #FF7F50;
  text-align: center;
  letter-spacing: 1.5px;
  margin-top: 20%;
}
.cook-meal-btn {
  text-align: center;
  width: 100%; 
  margin-bottom: 10%;
}
.added-list {
  padding-top: 15px;
  padding-bottom: 8px;
  text-align: center;
}
.recipe-checked {
  padding-left: 12px;
  color: #32CD32;
  font-size: 2em;
}
.recipe-rm {
  padding-right: 4px;
  color: #CC3333;
  font-size: 2em;
  float: left;
}
.recipe-rm:hover {
  cursor: pointer;
}
/*.hide-meal {
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 88%;
  margin-top: -3%;
  width: 2%;
  height: 100%;
  color: #F7E7CE;
  position: fixed;
  border-right: 1px solid rgba(200, 200, 200, 0.8);
} 
.hide-bar {
  margin-top:1100%; 
  font-size:2em; 
  padding-right:4px;
}*/
.source-link {
  vertical-align: -14px;
}
#columns {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
    position: absolute;
    margin-top: 8%;
    margin-bottom: 2%;
}
@media (min-width: 400px) {
  #columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 800px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 1000px) {
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 1500px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}



/*HOVER ANIMATIONS*/
/* Glow */
.glow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.glow:hover, .glow:focus, .glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
/* Float Shadow */
.float-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.float-shadow:hover, .float-shadow:focus, .float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.float-shadow:hover:before, .float-shadow:focus:before, .float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Hover Shadow */
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}